.fusen-container {
  width: 250px;
  position: relative;
  z-index: 100;
  font-family: tegaki-zatsu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title-fusen {
  width: 100%;
  position: relative;
  background: linear-gradient(to right, #A2DBEF 0%, #a2d1ef 0.5%, #a2d1ef 13%, #A2DBEF 16%);
  padding: 1em 1em 1em 4em;
  font-size: 0.9em;
  margin: 1.6em 0;
}

.back-fusen {
  width: 100%;
  position: relative;
  background: linear-gradient(to right, #F0A2C4 0%, #f38fb9 0.5%, #f38fb9 13%, #F0A2C4 16%);
  padding: 1em 1em 1em 4em;
  font-size: 0.9em;
  margin: 1.6em 0;
}

.fusen::after {
  content: "";
  display: block;
  position:  absolute;
  z-index: -100;
  bottom: 10;
  right: 0;
  height: 15px;
  width: 98%;
  background: rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
  transform: rotate(2deg);
}

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  background-image: url("/images/desk.jpg");
  overflow-x: hidden;
}

.contents {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1em;
  max-width: 100%;
}

.main {
  padding: 5rem 0;
}

.postit-image {
  max-width: 100%;
  max-height: 100%;
}

.modal-overlay-base {
  padding: 1rem;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition-property: background-color, opacity;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
  outline: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-overlay-after {
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
}

.modal-overlay-before {
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
}

.modal-content-base {
  background-color: #ffffff;
  opacity: 1;
  width: 90%;
  padding: 2em;
  border-radius: 10px;
  flex-wrap: wrap;
  font-family: tegaki-zatsu, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}

.modal-content-base h3 {
  margin: 0;
  padding: 0;
}

.modal-content-base h4 {
  margin: 0;
  padding: 0;
  padding-bottom: 3px;
}

.rank {
  color: red;
}

.modal-content-after {
  opacity: 1;
}

.modal-content-before {
  opacity: 1;
}

.movies {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 1em;
}

.movies iframe {
  width: 312px;
  height: 176px;
  max-width: 100%;
}

.youtube-container {
  position: relative;
  max-width: 100%;
}

.youtube-icon {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  width: 60px;
  color: #DA1725;
}

.youtube-image {
  max-width: 100%;
}

.is-style-whiteboard1 {
  position: relative;
  margin: 0 auto 2em;
  padding: 2em 1.5em;
  border: 10px solid transparent;
  border-radius: 4px;
  background: linear-gradient(white, white), linear-gradient(#4d4d4d, #4d4d4d) no-repeat 100% 100% / 30px 30px, linear-gradient(#4d4d4d, #4d4d4d) no-repeat 0 100% / 30px 30px, linear-gradient(#4d4d4d, #4d4d4d) no-repeat 100% 0 / 30px 30px, linear-gradient(#4d4d4d, #4d4d4d) no-repeat 0 0 / 30px 30px, linear-gradient(#e6e6e6, #e6e6e6);
  background-clip: padding-box, border-box, border-box, border-box, border-box, border-box;
  background-origin: border-box;
}
.is-style-whiteboard1:before,
.is-style-whiteboard1:after ,
.is-style-whiteboard1 .wp-block-group__inner-container:before,
.is-style-whiteboard1 .wp-block-group__inner-container:after {
  display: inline-block;
  position: absolute;
  content: "";
}
.is-style-whiteboard1:before {
  right: 10px;
  bottom: 16px;
  width: 52px;
  height: 8px;
  border-radius: 2px 2px 0 0;
  background: #5a95f5;
}
.is-style-whiteboard1:after {
  right: 11px;
  bottom: 1px;
  width: 50px;
  height: 15px;
  border-radius: 0 0 4px 4px;
  background: #d2e2fc;
}
.is-style-whiteboard1 .wp-block-group__inner-container:before {
  right: 71px;
  bottom: 1px;
  width: 48px;
  height: 8px;
  background: linear-gradient(90deg, #ea4335 8%, #f2f2f2 8%, #f2f2f2 70%, #ea4335 70%);
}
.is-style-whiteboard1 .wp-block-group__inner-container:after {
  right: 98px;
  bottom: 9px;
  width: 48px;
  height: 8px;
  background: linear-gradient(90deg, #333 8%, #f2f2f2 calc(8% + 1px), #f2f2f2 70%, #333 calc(70% + 1px));
  transform: rotate(-20deg);
}

.close-btn {
  display: flex;
  justify-content: right;
}

.close-icon {
  font-size: 1em;
  width: 1em;
}
