$max-screen: 455px;

@media screen and (max-width: $max-screen) {
  .containers {
    position: relative;
    width: 100%;
    height: 455px;
    max-width: 100%;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: solid black 2px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    backface-visibility: hidden;
    transition: all .6s ease;
    max-width: 100%;
  }
}

@media screen and (min-width: $max-screen) {
  .containers {
    position: relative;
    width: 455px;
    height: 275px;
    max-width: 100%;
  }

  .container {
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    border: solid black 2px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    backface-visibility: hidden;
    transition: all .6s ease;
    max-width: 100%;
  }
}

.rotate.container-front {
  transform: rotateY(-180deg)
}

.rotate.container-back {
  transform: rotateY(0)
}

@media screen and (max-width: $max-screen) {
  .occupation {
    text-align: center;
  }
}

.container-front {
  display: flex;
  padding: 3em 5px;
}

.container-front:hover .click-btn {
  opacity: 0.6;
}

.click-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 0;
  transition: all .25s ease;
}

@media screen and (max-width: $max-screen) {
  .click-btn {
    opacity: 1;
  }
}

.image-container {
  padding: 0 10px;
  margin: 0 20px;
  width: 30%;
}

@media screen and (max-width: $max-screen) {
  .image-container {
    padding: 0;
    margin: 0;
  }
}

.image {
  image-rendering: -webkit-optimize-contrast;
  width: 100%;
}

.description {
  margin: 0 20px;
}

.name {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: bold;
  font-family: iroha-mochi-sub, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.sns-contents {
  padding: 3px 0;
}

.sns-icon {
  width: 1.1em;
  vertical-align: -0.2em;
  margin-right: 7px;
}

.twitter-icon {
  color: #55acee;
  font-size: 1.1em;
}

.sns-username {
  padding: 0 1px;
  font-weight: bold;
}

.container-back {
  transform: rotateY(180deg);
}

.container-back h4 {
  margin: 5px 10px;
  text-decoration: underline;
}

.container-back ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  margin: 0;
}

.container-back li {
  margin: 2px 5px;
  text-decoration-thickness: 5px;
  text-decoration-skip-ink: none;
  text-underline-offset: -1px;
}

.skill-sets li {
  display: flex;
  border-radius: 25px;
  padding: 0 0 0 10px;
  align-items: center;
  margin: 3px 3px;
}

.main-skill-sets li {
  border: 1px solid #ff3c3c;
}

.sub-skill-sets li {
  border: 1px solid #3cb4ff;
  padding: 0 10px;
}

.qualifications li {
  border: 1px solid #3cb4ff;
  padding: 0 10px;
}

.skill-level {
  margin: 3px 5px;
  padding: 1px 6px;
  border-radius: 50%;
  color: #fff;
  font-size: small;
}

.level-none {
  padding: 0 10px !important;
}

.main-skill-sets .skill-level {
  background-color: #ff7777;
}
